.admin-content .admin-content-header {
    background-color: #242A30;
    padding: 20px 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 10px 10px 0px 0px;
}

.admin-filter-bar,
.dashbaord-filter-bar {
    padding: 15px 15px 15px 15px;
    background-color: #2D353C;
    position: relative;
}

.admin-filter-bar label,
.dashbaord-filter-bar label {
    color: #B0C9CF;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 8px;
}

.filter-boroughs {
    width: 180px;
    padding: 0px 20px 0px 0px;
}

.filter-sites {
    width: 180px;
    padding: 0px 0px 0px 0px;
}
.dashbaord-filter-bar .filter-keywordsearch {
    width: 60%;
    padding-right: 30px;
}

.dashbaord-filter-bar .filter-routes {
    width: 25%;
    padding-right: 30px;
}

.dashbaord-filter-bar .filter-progress {
    width: 15%;
}

.admin-teams-content .team-row {
    width: 100%;
    background-color: #fff;
    color: #404040;
    position: relative;
    /*text-transform: capitalize;*/
    user-select: none;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.admin-teams-content {
    padding: 0px 0px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0px 0px 3px 3px;
    min-height: 600px;
    position: relative;
    user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.team-row .team-left,
.right-side-route-item .team-left {
    width: 15%;
    float: left;
    font-size: 20px;
    font-weight: 100;
    padding: 0px 5px 0px 0px;
}

.team-row .team-left {
    padding: 7px 5px;
}

.teamStatusComplete {
    background: #01ABAB;
    color: white;
}

.teamStatusNotStarted {
    background: #EA5A57;
    color: white;
}

.teamStatusInProgress {
    background: #F7B047;
    color: white;
}

.team-row .team-right,
.right-side-route-item .team-right {
    width: 85%;
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 5px;
}

.double-liner {
    vertical-align: middle;
    margin-right: 25px;
    height: 50px;
    margin-top: 5px;
}

.canvasser-unassigned-team{
    width: 10px;
    background: #ff0017;
    height: 84px;
    float: left;
    margin-right: 8px;
}

.canvasser-assigned-team-name{
    font-weight: bold;
}

img.single-liner {
    vertical-align: middle;
    height: 50px;
    margin-right: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.team-details {
    /* float: left; */
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}

.team-details label {
    width: 100%;
    display: inline-block
}

members-count {
    margin-top: 3px;
}

members-route {
    margin-top: 0px;
}

members-count img,
.members-route img {
    vertical-align: middle;
}

.horizontal-liner {
    border-color: lightgray;
    margin: 0px;
    border-style: solid;
}

.admin-teams-content .team-row:last-child {
    border-radius: 0px 0px 3px 3px;
}

.right-side-filter {
    background-color: #2D353C;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 12%;
    padding-bottom: 15%;
}

.admin-right-container-ext {
    background: #2D353C !important;
    background-color: white;
    float: left;
    padding-bottom: 20px;
    /*padding-top: 10px;*/
    width: 100%;
}

.right-side-filter td {
    padding: 0px;
}

.right-side-filter>table {
    width: 100%;
}

.right-side-filter label {
    color: #B0C9CF;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 8px;
}

.right-side-filter .filter-sites {
    padding: 0px;
}

.right-side-filtered-routes {
    color: #fff;
    padding: 10px 7% 20px 25px;
    float: left;
    width: 100%;
    /* height: 600px; */
    position: fixed;
    bottom: 60px;
    height: 100%;
    top: 310px;
}

.right-side-filtered-routes>label {
    font-size: 14px;
    margin-bottom: 20px;
    float: left;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 7px;
    color: #fff;
}

.right-side-route-item {
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    margin-bottom: 10px;
    float: left;
    width: 99%;
    position: relative;
    cursor: move;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.route-height{
   height: 74px;
}

.right-side-route-item .double-liner {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    cursor: move;
    vertical-align: top;
}

.right-side-route-item .team-details {
    width: 80%;
    font-size: 12px;
    padding-top: 5px;
}

.right-side-route-items {
    /*margin-top: 30px;*/
    float: left;
    /*width: 100%;*/
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute!important;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    height: 36%;
}

.no-records-found {
    width: 99%;
    color: #ccc;
    float: left;
}

.right-side-route-item .team-right {
    padding: 7px 6px;
}

.route-map {
    text-align: right;
}

.right-side-route-item img,
.right-side-route-item label {
    cursor: move;
}

.route-map>img {
    width: 65%;
    margin-right: 15px;
    margin-top: 5px;
}

.teams-label-count {
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}

.open-team-add-button {
    cursor: pointer;
    width: 22px;
    margin-top: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.filtered-canvassers .team-left {
    width: 95%;
}

.nav-route-canv a {
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 6px solid #ccc;
    color: #323232;
    font-size: 14px;
    opacity: 0.5;
    /* font-weight: bold; */
}

.selected-nav {
    border-bottom-color: #15ADAC!important;
    opacity: 1!important;
}

.right-side-navigator {
    float: right;
    font-size: 20px;
    min-height:50px;
}

.team-name {
    padding: 10px 0px 0px 0px;
    /* width: 30%; */
    text-align: center;
    font-size: 20px;
}
.teamtype {
    width: 49%;
    float: left;
    margin-right: 1%;
}

.team-borough {
    width: 50%;
    padding: 0px 5px;
}

.team-site {
    width: 50%;
    padding: 0px 5px;
}

.unassigned-team {
    color: red;
    font-size: 11px;
}

.filtered-canvassers .double-liner {
    height: 70px;
    width: 10px;
}

.canvasserrs-search,
.routes-search {
    background-color: #1a2229;
    min-height: 700px;
}

.sidebar .nav>li.nav-widget {
    padding: 0px 0px 0px 0px;
}

.team-name-admin-label {
    cursor: pointer;
}

.team-name-admin-label:hover {
    text-decoration: underline;
}

.team-members {
    max-height: 200px;
    border: 2px solid #ccc;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.team-members .team-row {
    border-bottom: 1px solid rgba(182, 195, 201, 0.50);
    padding: 10px 15px 10px 90px;
    font-size: 12px;
    position: relative;
}

.team-members .team-row:last-child {
    border-bottom: none;
}

.team-members member-email {
    font-size: 12px;
    margin-left: 10px;
    color: #a8acb1;
    text-transform: lowercase;
}
.member-email{
    text-transform: lowercase;   
}
.team-members img.team-icon {
    margin-left: 5px;
}
.email_absolute{
     position: absolute;
    left: 55%;
    top: 10px;
}

.team-members .remove-row-icon {
    color: #000;
    float: right;
    cursor: pointer;
    /*margin-top: 2px;*/
    font-size: 18px;
    opacity: 0.6;
}

.team-members .remove-row-icon:hover {
    opacity: 1;
}

.team-members span.member-name {
    color: #323232;
    margin-left: 1%;
    /*text-transform: capitalize;*/
}

.label-team-routes {
    margin-top: 30px;
}

.team-routes {
    max-height: 190px;
    border: 2px solid #ccc;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.team-routes .team-row {
    border-bottom: 1px solid rgba(182, 195, 201, 0.50);
    padding: 10px 15px;
    font-size: 12px;
    position: relative;
    margin: 1px 0px 1px 1px;
}

.team-routes .team-row:last-child {
    border-bottom: none;
}

.edit-team-container .modal .modal-dialog {
    margin: 3% auto;
}

.team-routes .remove-row-icon {
       color: #000;
    /* float: right; */
    cursor: pointer;
    /* margin-top: 20px; */
    font-size: 18px;
    opacity: 0.6;
    position: absolute;
    right: 15px;
    top: 35%;
}

.team-routes .remove-row-icon:hover {
    opacity: 1;
}

.team-routes .team-routes-right {
    width: 45%;
    float: right;
    vertical-align: middle;
}
.teamleader_row{
    color: rebeccapurple;
    font-weight: bold;
}
.team-routes .team-routes-left {
    width: 45%;
    float: left;
}

.team-routes img.map-route {
    width: 60px;
    vertical-align: middle;
}

.team-routes span.team-route-name {
    margin-left: 10px;
    color: #323232;
    min-width: 40px;
    float: left;
}

.team-routes img.single-liner {
    height: 60px!important;
}

.team-routes span.member-name {
    color: #323232;
}

.footer-bar {
    text-align: center;
    padding: 18px 0px 10px 0px;
}

.remove-routes-button {
    background: #323232!important;
    width: 153px;
}

.assign-filter-bar {
    padding: 20px 20px;
    background-color: #323232;
    border-radius: 5px;
    opacity: 0.9;
}

.assign-filter-bar label {
    color: #fff!important;
}

.assign-filter-bar .filter-sites {
    width: 50%!important;
}

.assign-filter-bar .assign-sites {
    width: 20%!important;
    text-align: center;
    padding-top: 20px;
}

.assign-filter-bar .reassign-button {
    background: #01acac;
    color: #fff;
    border: 0px;
    padding: 7px 15px;
    background: #01acac;
    border-radius: 4px;
    min-width: 102px;
    /*height: 29px;*/
    font-size: 14px;
}

.jump-team-container .modal .modal-dialog {
    margin: 3% auto;
}

.jump-team-container .team-members,
.jump-team-container .team-routes {
    max-height: 250px!important;
}

.drag-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    background-color: deepskyblue;
}

.dragging-item {
    background-color: yellow;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.clipped {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    max-width: 90%;
}

.no-members {
    color: red;
}

.canvasser-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.team-row.no-routes,
.team-row.no-routes {
    color: red;
    font-style: italic;
    font-size: 11px;
    padding-left: 10px;
    background-color: #fff!important;
}

input[type='button']:disabled,
input[type='submit']:disabled,
button:disabled {
    opacity: 0.5!important;
}

.container .modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 24px!important;
    text-transform: capitalize!important;
}

.Select-placeholder,
.Select--single>.Select-control .Select-value {
    text-transform: capitalize;
}

img.open-team-add-button[disabled] {
    opacity: 0.5;
}

label.canvasser-name.ellipses {
    /*text-transform: capitalize;*/
    font-size: 12px;
    font-weight: bold;
}

.members-route {
    text-transform: capitalize;
    font-size: 10px;
}
.no-route-found-message{
    padding: 10px 15px;
    font-style: italic;
    font-size: 12px;
    background-color: #fff;
}

.position-relative {
    position: relative;
}

.canv-route-loader {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 9999;
    background-color: #fff;
    opacity: 0.3;
}

.canv-route-loader .spinner-small {
    border-top-color: #000!important;
    top: 50%;
}


/*************Make Team Leader*************/

.span-team-leader {
    text-transform: capitalize;
    border: 1px solid #a09e9e;
    padding: 4px 10px;
    border-radius: 3px;
    background-color: green;
    color: #fff;
    display: none;
    position: absolute;
    /* right: 150px; */
    cursor: pointer;
    left: 70%;
    top: 13%;
    line-height: 19px;
}

.active {
    display: inline;
}

.inactive {
    display: none;
}

.leader {
       width: 75px !important;
    height: 20px !important;
    border-radius: 2px;
    font-size: 9px;
    padding: 4px 6px;
    color: #000;
    text-align: center;
    background: #ccc;
    position: absolute;
    left: 6px;
    cursor: pointer;
    top: 8px;
}

.leader:hover,
.active {
        opacity: 1;
    box-shadow: 0px 0px 0px 1px cadetblue;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rebeccapurple;
    font-weight: bold;
    color: #fff;
}

.need_nypd {
    border-radius: 4px;
    font-size: 9px;
    padding: 2px 4px;
    color: #000;
    text-align: center;
    background: #ccc;
}

.need_nypd_active {
        opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:crimson;
    font-weight: bold;
    color: #fff;
}
.edit-team-container .need_nypd_admin_active
{
    margin-left: 7px;
}
.need_nypd_admin{
    border-radius: 4px;
    font-size: 9px;
    padding: 2px 4px;
    color: #000;
    text-align: center;
    background: #ccc;
}
.need_nypd_admin_active {
        opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:crimson;
    font-weight: bold;
    color: #fff;
}
.validation_success_main {
    position: absolute;
    top: 30px;
    left: 32%;
    z-index: 1010;
}

.team-route-type {
    text-transform: capitalize;
}
.remove-team{
position: absolute;
bottom: 12px;
}
.admin-teams-content > .team-row:nth-child(2n+1),.team-members .team-row:nth-child(2n+1),.team-routes .team-row:nth-child(2n+1){
    background-color: #eaeaea;
}
.single-line-div{
        width: 10px;
    float: left;
    border-left: 1px solid #ccc;
    height: 50px;
    margin-top: 4px;
}
.admin-teams-content .team-details{
     padding-top: 6px;
    padding-left: 10px;
}
.padding-custom-15-20{
    padding: 15px 20px!important;
}
.remove-team-button{
    background-color: red!important;
    position: absolute;
    top: -44px;
    left: 0px;
}
.delete-team-footer-bar{
    position: relative;
}
.delete-team-footer-bar button:hover{
 opacity: 1;
}
.delete-team-footer-bar button{
        color: #fff;
    border: 0px;
    padding: 7px 15px;
    background: #01acac;
    border-radius: 4px;
    min-width: 102px;
    /* height: 29px; */
    font-size: 14px;
    opacity: 0.9;
    cursor: pointer;
}
.text-align-right{
    text-align: right;
}
.remove-canvasser-button {
    background-color: red!important;
    position: relative;
    top: 0px;
}
.notification-as-well .modal-content{
    min-width: 465px!important;
}
.notification-strip{
    margin-top: 30px;
    width: 410px;
    font-style: italic;
    font-size: 12px!important;
    margin-bottom: 20px!important;
}
.notification-strip .validation_success{
    font-size: 12px!important;
}
.notification-as-well .footer-bar{
    padding-top: 0px!important;
    margin-top: 10px!important;
}
.top-right-3px
{
    top: 3px!important;
    right: 3px!important;
}
/*The Scrollbar Root*/
.react-scrollbar-default {
  width: 35%;
  min-width: 200px;
  max-height: 450px;
}

.source, .source-preview {
                /*background: #c7c7c7;              */
                cursor: pointer;                
            }
            .source-preview {
                /*background: #888888;              */
                position: fixed;
                z-index: 99999;               
                opacity:1;
                transition: none;
                pointer-events: none;
                -webkit-touch-callout: none;
            }





/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
.right-side-route-items{
    height: 70% !important;
}
}


/* Desktops and laptops ----------- */
@media only screen  and (min-height : 500px) {
.right-side-route-items{
    height: 36% !important;
}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-height : 600px) {
.right-side-route-items{
    height: 42% !important;
}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-height : 700px) {
.right-side-route-items{
    height: 50% !important;
}
}


/* Desktops and laptops ----------- */
@media only screen  and (min-height : 1024px) {
.right-side-route-items{
    height: 65% !important;
}
}



/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.right-side-route-items{
    height: 90% !important;
}
}

.route-unassigned-team {
    border-left: 10px solid rgb(255, 0, 0);
    padding-left: 10px;
}
.route-assigned-team {
    border-left: 0px solid transparent;
}
           
label.need-escort-count {
    position: absolute;
    right: 10px;
    bottom: 0px;
    text-align: right;
}
.teams-routes-section {
    float: left;
    width: 40%;
}
.teams-members-section {
    float: left;
    width: 60%;
}
.teams-members-section .team-details{
    width: 96%;
}
.admin-teams-content .team-all-members .table td,.admin-teams-content .team-all-members .table th {
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
}
.admin-teams-content .team-all-members .table th:first-child{
    width: 30px;
    
    border-radius: 0px !important;
    background: lightgray
}
.admin-teams-content .team-all-members .table th:nth-child(2){
    border-radius: 0px !important;
    background: lightgray
}
.admin-teams-content .team-all-members .table th:nth-child(3){
    border-radius: 0px !important;
    background: lightgray
}
.team-all-members   .table td,.team-all-members .table th{
    padding: 10px 15px 10px 15px;
    font-size: 10px;
}
.team-all-members  th:nth-child(2){
    width: 220px!important;
}
.notify-canv-delete{
    padding: 6px 0px 3px 5px;
    float: left;
    width: 90%;
}
.ispark {
    border-radius: 4px;
    font-size: 9px;
    padding: 2px 4px;
    color: #000;
    text-align: center;
    background: #ccc;
    user-select: none;
    font-weight: bold;
    margin-left: 5px;
}
.route_flags {
   position: absolute;
    right: 7px;
    bottom: 6px;
    min-width: 54px;
    text-align: center;
}
.routelist-route-map-icon{
        position: absolute;
    right: 25px;
    top: 7px;
}
.all-routes-under-team{
        float: left;
    max-width: 300px;
    overflow-wrap: break-word;
    line-height: 23px;
}
.all-routes-under-team .need_nypd_admin,.all-routes-under-team .ispark{
    padding: 0.5px 4px;
}
.unassigned-team-to-route,.margintop-10{
        margin-top: 10px;
}
.not_checkedin_user{
        margin-right: 5px;
    color: #fff;
    background-color: #000;
    padding: 3px 5px;
    font-size: 8px;
    border-radius: 4px;
    line-height: 9px;
    float: left;
    font-weight: 400;
}
.checkedin_user{
     margin-right: 5px;
    color: #fff;
    background-color: #1d9625;
    padding: 3px 5px;
    font-size: 8px;
    border-radius: 4px;
    line-height: 9px;
    float: left;
    font-weight: 400;
}